.container {
    width: 410px;
    height: 728px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5); 
    background: #4f85bb;
}

.line {
    height: 52px;
    background-color: #2d6399;
    border-radius: 5px;
    margin: 28px 28px 0px;
    font-size: 48px;
    color: #a1b71d;
    -webkit-user-select: none;    
}

.active {
    background-color: #3d73a9;
}

.lines {
    padding-top: 10px;
}

.line-number, 
.infobox,
.ball-spot {
    float: left;
    margin-left: 18px;
}

.infobox {
    width: 48px;
    height: 48px;
    background: #ffffe0;
    border-radius: 8px;
    margin-top: 2px;
    margin-right: 18px;
}

.ok-button {
    width: 48px;
    height: 38px;
    font-size: 24px;
    text-align: center;
    color: white;
    padding-top: 10px;
    background: rgb(94, 199, 99);
}

.ok-button:hover {
    background: rgb(53, 167, 110); 
}

.ok-button:active {
    background: rgb(33,147,90);
}


.ok-button .result-spot {
    display: none;
}

.ok-text {
    display: none;
}

.ok-button .ok-text {
    display: block;
}

.result-spot {
    display: inline-block;
    float: left;
    margin: 8px;
    width: 8px;
    height: 8px;
    background: #111111;
    border-radius: 50%;
}

.result {
    margin: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.bull {
    background-color: #111111;
}

.cow {
    background-color: #eeeeee;
}


.ball-spot {
    width: 36px;
    height: 36px;
    background: black;
    border-radius: 50%;
    margin: 8px;
}

.ball-spot:hover {
    background-color: #999999;
}

.ball {
    width: 48px;
    height: 48px;
    margin: 2px 4px;
    border-radius: 50%;
}

.balls-avaliable {
    height: 52px;
    margin: 16px 30px;
    border-radius: 12px;
    background-color: #123456;
}

.balls-avaliable .ball{
    margin: 2px 5px;
}

.color-white,
.color-white:hover {
    background-color: #eeeeee;
}

.color-pink,
.color-pink:hover {
    background-color: #ffc0cb;
}

.color-yellow,
.color-yellow:hover {
    background-color: #ffff00;
}

.color-green,
.color-green:hover {
    background-color: #008000;
}

.color-red,
.color-red:hover {
    background-color: #dd0000;
}

.color-blue,
.color-blue:hover {
    background-color: #b0c4de;
}
